* {
   margin: o;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Oswald', sans-serif;
   color: #5D5D7D;
   font-weight: 400;
}

.wrapper {
   height: 100vh;
   width: 100vw;
}


.conteiner-left {
   display: inline-block;
   width: 60%;
   margin-top: 17%;
   padding-left: 146px;


}


.conteiner-right {
   display: inline-block;
   background: rgba(93, 93, 125, 0.16);
   height: 100vh;
   width: 40%;
   position: absolute;
}

img {
   position: relative;
   top: 14%;
   right: 20%;
   width: 446px;
   height: 541.95px;
}


h1 {
   font-size: 70px;
   line-height: 80px;
   width: 380px;
   position: relative;
   bottom: 50px;
}

p {
   font-size: 28px;
   line-height: 48px;
   opacity: 0.6;
   margin: 18pxs;
   width: 640px;
   position: relative;
   bottom: 88px;
}

button {
   width: 269px;
   height: 62;
   background: #9499ea;
   box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
   border-radius: 30px;
   border: none;
   font-size: 24px;
   line-height: 56px;
   text-align: center;
   color: #ffffff;
   cursor: pointer;
   position: relative;
   bottom: 100px;
}

button:hover {
   opacity: .8;
}

button:active {
   opacity: .5;
}

a {
   font-size: 28px;
   line-height: 41px;
   margin-right: 41px;
   cursor: pointer
}

.work {
   opacity: .4;
}

.work:active {
   opacity: .8;
}

header {
   margin: 24px 0 0 57px;
}

@media screen and (max-width: 900px) {
   .conteiner-left {
      width: 100%;
      height: 50%;
      padding: 0;
      margin: 0;
   }

   .conteiner-right {
      display: block;
      height: auto;
      width: 100%;
      position: static;
      padding: 40px;
   }

   img {
      position: static;
      max-width: 90% ;
      height: 80%;
   
   }

   header {
      display: none;
   }

   h1 {
      font-size: 36px;
      width: auto;
      line-height: 52px;
      margin: 60px 50px 0 50px;
      text-align: center;
      display: block;
   }

   p {
      margin: 50px 40px;
      width: auto;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
   }

   button {margin: 0 auto;
   display: block;  }


}